h1 {
  text-align: center
}

.card-img img{
  width: 75%;
  
}

.card-img {
  text-align: center
}

.img-credit {
  font-size: 13px
}

.page-wrap {
  display: flex;
  flex-flow: column nowrap;
}

.tptmtc {
  text-align: center
}

.basic-card-info {
  padding-bottom: 10%;
  text-align: center;
}



/* Point at which we leave smaller screens and hit tablets */

@media screen and (min-width:768px) {

  .card-img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

}

/* Point at which screen changes to standard desktop menu */
@media screen and (min-width:907px) {

  main {
    padding-top: 20%
  }

  header {
    height: 20%
  }

  
  
}

@media screen and (min-width:1200px) {

  main {
    padding-top: 17%
  }

  header {
    height: 25%;
  }
  
}

@media screen and (min-width:1400px) {

  main {
    padding-top: 13%
  }
   
  
}